<section class="page-title header-padding{% if page.header_dark %} bg-blue{% endif %}"{% unless page.header_dark %} style="background-image:url({% if page.header_image %}{{page.header_image | relative_url}} {% else %} {{site.cover_image}} {% endif %});background-size:cover"{% endunless %}>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
          {% if page.url contains '/news/' %}<span class="eyebrow" style="color:#6ee7db;"><a href="/news/" style="color:#6ee7db;">News</a></span>{% endif %}
          <h2 class="text-capitalize mb-2 text-lg text-white">{{page.title}}</h2>
      </div>
      <div class="col-lg-10">
           <p class="text-white page-subtitle mb-0">{{page.description}}</p>
      </div>
    </div>
  </div>
</section>
