---
layout: default_2
---

{% include header_2.html %}

<section class="portfolio-single">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<h1 class="mb-3 mt text-center">{{page.title}}</h1>

				<div class="col-lg-12 mt text-center">
					<div class="carousel-item active">
						<img src="{{page.feature}}" alt="" class="img-fluid">
					</div>
				</div>
				<p></p>
				{{page.content}}

			</div>
		</div>
	</div>
</section>

<section class="section post-single-share py-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="text-white text-center">Share Project On</h3>
				<ul class="list-inline socials-links">
					<li class="list-inline-item">
						<a href="#" class="active"><i class="ti-linkedin"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="ti-facebook"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="ti-twitter"></i></a>
					</li>
					<li class="list-inline-item">
						<a href="#"><i class="ti-vimeo"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section related-engagement  py-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h3 class="mb-5">Related Projects</h3>
			</div>
            {% for portfolio in site.projects limit:"3" %}
			<div class="col-lg-4">
				<div class="portfolio-block text-center border-0 ">
				    <img src="{{portfolio.thumbnail | relative_url}}" class="img-fluid" alt="{{portfolio.title}}"/>
				    <a class="card-img-overlay" href="{{portfolio.url}}">
				      <h5 class="card-title text-white mb-0">{{portfolio.title}}</h5>
				      <p class="card-text text-white text-uppercase text-sm">{{portfolio.category}}</p>
				    </a>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
</section>
